
.CoveoStandaloneSearchbox {
  margin: auto; 
}

.CoveoOmnibox.magic-box.magic-box-inline {
  border: 0px solid transparent;

  .magic-box-suggestions .coveo-magicbox-suggestions {
    border-top: 0px;
  }
}
#standaloneSearchbox {
  .magic-box-input,
  .magic-box-icon {
    height: 38px;
    line-height: 38px;
  }

  .magic-box-input {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }

  .CoveoSearchButton.coveo-accessible-button {
    max-width: 65px;
    width: 65px;
    margin-right: auto;
    border: 1px solid #0070d2;
    background-color: #0070d2;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 38px;

    .coveo-search-button-svg {
      color: white;
    }
  }
}
